@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1p&family=Pacifico&family=Paytone+One&family=Permanent+Marker&family=Protest+Revolution&family=Rock+3D&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-condensed-google{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
footer{
    height: 100vh;
    background-color: black;
}
.heading-lines{
    /* color: white; */
    text-decoration: underline;
    text-decoration-color: rgb(41, 120, 240);
}
.telephone{
    color: white;
    text-decoration: none;
}
.carrerButton{
    color: white;
    background-color: transparent;
    border: solid white 1px;
    width: 10rem;
    padding: 6px;
    font-weight: 100;
}
.footer-anchor{
    text-decoration: none;
    color: white;
}
.footer-anchor:hover{
    text-decoration: underline;
}
.serve-cities-list li{
    list-style-image: url(/assets/icons/geo-alt-fill.svg);
}
.copyright{
    display: flex;
    align-items: flex-end !important;
    position: relative;
}