@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1p&family=Pacifico&family=Paytone+One&family=Permanent+Marker&family=Protest+Revolution&family=Rock+3D&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.headDIV{
    font-family: "Bebas Neue", sans-serif;
    /* background-color: white; */
    font-size: 50px;
    height: 200px;
}
.scheduleoutDIV{
    background-color: white;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheduleform{
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(to left, #00236d, #004182); 
    width: 50vw;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.scheduleform{
    box-shadow: 10px 15px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.fontSize{
    font-size: 25px;
    color: white;
}
.buttonDIV{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.ButtForm{
    height: 2.5rem;
    width: 10rem;
    letter-spacing: 1.5px;
}
.form-group{
    padding: 5px;
}